.titulos{
    color: black;
    size: 16px;
}

a{
    text-decoration: none;
    color: #8F3399;
}

.text{
    color: black;
    text-decoration: none;
}

#menu_chapeuzinho{
    text-align: center;
    height: 200px;
    width: 80%;
    margin: 4%;
}

.navigation{  
    width: 100%;
    list-style: none;
    text-align: center;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
#sub_banner{
    background-color: #A4CE47;
    text-align: center;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.1) inset;
    min-height: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    color: #FFF;
}
#logo_chapeu {
    height: 200px;
}
#nav li {
    list-style: none;
    display: inline-block;
}
#nav a {
    color: #A4CE47;
    display: block;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 9px 18px 9px;
    text-decoration: none;
}
img { 
    display: inline-block;
    vertical-align: middle;
}
.row {
    padding: 40px;
    
}
.espacar_acima {
    margin-top: 15px;
}
h3{
    font-family: 'Raleway';
    font-size: 26px;
    text-transform: none;
}
p {
    font-size: 18px;
    font-weight: normal;
    font-family: inherit;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

.main-content {
    display: flex;
    flex-direction: column;
}